<!doctype html>
<html lang="en">
<head>
    {{> layouts/head }}
</head>
<body>
    <div class="dashboard-main-wrapper">
        {{> layouts/header }}
        {{> layouts/sidebar }}
        
        <div class="dashboard-wrapper">
            <div class="dashboard-content">
                <div class="container-fluid">
                    {{{ body }}}
                </div>
            </div>
            {{> layouts/footer }}
        </div>
    </div>
    
    {{> layouts/scripts }}
</body>
</html>